.productInfo img {
  width: 100%;
}

.productInfo img:hover {
  width: 100%;
  opacity: 0.5;
  cursor: pointer;
}

.productInfo {
  text-align: center;
  text-transform: none;
}

.name {
  color: #000;
  font-weight: 550;
}

.price {
  color: #495057;
  font-size: 12px;
}
