.productForm {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.productForm input {
  height: 40px;
  width: 40%;
}

.productForm select {
  height: 25px;
  width: 20%;
}

.productList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding-top: 20px;
}
